@model OfficeLeaveCore.Models.LeaveApproval

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LeaveApplicationLayout.cshtml";
}

<h1>Create</h1>

<h4>LeaveApproval</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationId" class="control-label"></label>
                <select asp-for="ApplicationId" class ="form-control" asp-items="ViewBag.ApplicationId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ApprovingFlag" /> @Html.DisplayNameFor(model => model.ApprovingFlag)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ApprovingOfficerId" class="control-label"></label>
                <input asp-for="ApprovingOfficerId" class="form-control" />
                <span asp-validation-for="ApprovingOfficerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
