@model OfficeLeaveCore.Models.LeaveApproval

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LeaveApplicationLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>LeaveApproval</h4>
    <hr />
</div>