@model OfficeLeaveCore.Models.ApplicationUser

@{
    ViewData["Title"] = "New User";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Breadcrumbs-->
<div class="d-flex align-items-center justify-content-between mb-3">
    <div aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Users</a></li>
        <li class="breadcrumb-item active" aria-current="page">New user</li>
      </ol>
    </div>

    <a class="btn btn-primary submit-btn shadow" asp-action="Index">View All Users</a>
</div>
<!--End: Breadcrumbs-->

<partial name="_AlertPartial"/>

<div class="card shadow">
    <div class="container">
        <div class="card-body">
            <form asp-action="Create" method="post">
                <div class="col-md mb-3">
                    <label class="form-label" asp-for="FullName"></label>
                    <input type="text" class="form-control" asp-for="FullName" placeholder="ex. John Doe"/>
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>

                <div class="col-md mb-3">
                    <label class="form-label" asp-for="Email"></label>
                    <input type="email" class="form-control" asp-for="Email" placeholder="ex. johndoe45@example.com"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="col-md mb-5">
                    <label class="form-label" asp-for="Role"></label>
                    <select class="form-select" asp-for="Role">
                        @{
                            if(ViewBag.Roles.Count > 0)
                            {
                                foreach(var role in ViewBag.Roles)
                                {
                                    if(role.Equals("Member"))
                                    {
                                        <option value="@role" selected>@role</option>
                                    }
                                    else
                                    {
                                        <option value="@role">@role</option>
                                    }
                                }
                            }
                        }
                    </select>
                     <span asp-validation-for="Role" class="text-danger"></span>
                </div>

                <hr />
                <div class="col-md float-end mb-3">
                    <button type="submit" class="btn btn-primary submit-btn shadow">Create User</button>
                    <a asp-action="Index" class="btn btn-danger close-btn shadow">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
